.ipynb_checkpoints
Lista3/.ipynb_checkpoints
Lista4/.ipynb_checkpoints
Lista5/.ipynb_checkpoints
Lista6/.ipynb_checkpoints
Lista7/.ipynb_checkpoints
Lista9/.ipynb_checkpoints
Lista11/.ipynb_checkpoints